.register-page .input-root .left-container {
    border: 1px solid red;
	@apply
		w-18
}

.auth-main{
    display: flex;
    padding: 3rem;
    /* border: 1px solid red */
}

.auth-img{
    display: block;
}


@media (max-width: 490px) {
    .auth-img{
        display: none;
    }
}