.page-container {
	/* background: red; */
	background-color: aliceblue;
	padding: 3rem 10rem;
	@apply
		overflow-x-hidden
		flex flex-col
		flex-1
		min-h-[var(--screen-height)]

}


.page-container.logged-in {
	@apply
		<md:pb-16
		+md:pl-80
}

@media (max-width: 490px) {
	.page-container{
		padding: 2rem 1rem;
	}
}