.auth-main{
    display: flex;
    padding: 3rem;
    background: url('/public/image/FreeWoly-bg.svg')
}

.auth-img{
    width: 50%;
    height: 80%;
}

.divider{
    height: 0.2px;
    background: rgb(118, 118, 118);
}

@media (max-width: 490px) {
    .auth-main{
        padding: 1rem;
    }
    .auth-img{
        display: none;
    }
}