.auth-main{
    display: flex;
    padding: 3rem;
}

.auth-img{
    width: 50%;
    height: 80%;
}

.divider{
    height: 0.2px;
}

@media (max-width: 490px) {
    .auth-main{
        padding: 1rem;
    }
    .auth-img{
        display: none;
    }
}